.container-form{
    display: flex;
    width: 100%;

    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-flow: column;
    width: 40%;
    height: 80% ;
    padding: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0,0,0,0.8) 0px 0px 50px;
    border-radius: 10px;

}

.input-contact, .textarea-contact{
    border: none;
    resize: none;
    outline: none;
    padding: 15px 0px;
    width: 80%;
    margin: 30px;
    transition: all 300ms;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.input-contact:focus, .textarea-contact:focus{
    border-bottom-color: #610061;
}

.button-contact{
    border: none;
    outline: none;
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgb(133, 213, 233)), color-stop(17%, rgba(103, 180, 242, 0.5)), color-stop(50%, rgba(61, 104, 173, 0.5)), color-stop(100%, rgba(37, 59, 111, 0.5)));
    padding: 15px;
    width: 200px;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.7) 0px 0px 10px;
    margin: 20px 0px;
    cursor: pointer;
    transition: all 300ms;
} 

.button-contact:hover{
    transform: scale(1.05);
    box-shadow: rgba(0,0,0,0.9) 0px 0px 10px;
}