
//Css for button
#button-product body{
    background-color: #eee;
}

#button-product{
    margin: 30px 0;
    text-align: center;
}

#button-product button{
    background-color: transparent;
    color: #444;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    border: 2px solid #eee;
    border-radius: .5rem;
    cursor: pointer;
    transition: all 1s ease;
    box-shadow: .5rem .5rem 1rem #ccc, 
    -.5rem -.5rem 1rem #fff;
}

#button-product button:hover{
    box-shadow: .5rem .5rem 1rem #fff, 
    -.5rem -.5rem 1rem #ccc;
}

#button-product button.active{
    box-shadow: inset .2rem .2rem 1rem #ccc, 
    inset -.2rem -.2rem 1rem #ccc;
}
